/*use id to target single elements*/
/*use classes to target froups*/

div{
  color: red;
}


/*classes always start with dot .*/
.FirstDiv{
  color: blue
}

.SecondDiv{
  color: green;
}

/*ids use #*/
#singledout{
  color: red;
  text-decoration: line-through;
}

/** = select all => every element on the page*/
/*it overwrites all aside from ids. Dont use it that often*/

/*json sibblings - any UO list placed after h3*/
h3 + ul{
  border: 4px dotted purple;
}

li a{
  color: red;
}

li a[href="www.npr.org"]{
  color: blue;
  border: 5px solid orange;
}
