/* THIS IS HOW YOU WRITE COMMENTS IN CSS*/
/*some comment*/

/*basic css:*/
/*selected tag{
  property:value
}*/

h1{
  color: blue;
}

li{
  color: rgb(244,122,66);
}

/*hex codes*/
p{
  color: #0895a8;
}

h4{
  color: rgba(244,122,66, 1)
}
