/* USE IDs TO TARGET SINGLE ELEMENTS WITH CSS
USE CLASSES TO TARGET GROUP OF ELEMENTS WITH CSS */

.firstDiv{
  color: blue;
}
/* classes alwayas start with . */

.secondDiv{
  color: red;
}

/* classes can be attached over multiple elements! IDs only to one */

#singleout{
  color: green;
  text-decoration: line-through;
}

{
  color: black;
}
/* selects and overwrites all! uncommon to use */ */

h3 + ul{
  color: red;
  border: 4px solid purple;
}

li a{
  color: red;
}

li a[href = 'www.npr.org']{
  color: blue;
  border: 5px solid orange
}
