/* selected tag  {
  property: value;

} */

h1  {
  color: blue;
}


li{
  color: rgb(255,97,0);
  /* colors by rgb */
}

p{
  color: #0895a8
  /* by hexcode */
}

h4{
  color: rgba(255,97,0,0.5)
  /* last parameter is for transparency */
}
